
.layout--content{
    height: 100%;
}
.layout-contaner{
    display: flex;
}
.layout--header{
    height: 7vh;
    background-color: #1d243c;
    color: white;
}
.layout--sidebar{
    width: 15vw;
    border-right: 1px solid lightgray;
}
.layout--content{
    height: 85vh;
    width: 85vw;
    padding: 2rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
}